*{
    text-align: right;
}
body{
}
p{
    color: #AA4139;
    text-align: center;
    border: 5px dashed rgba(255, 176, 170, 0.5);
    cursor: pointer;
}
p{
    line-height: 50px;
    font-size: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: "Times New Roman";
}
p{
    color: green;
}
img{
    float: right;
}
footer{
    clear:both;
    text-align: center;
}
li{
    list-style: none;
    display: inline-block;
}
.webtext{
    border: 5px dashed green;
}
.webtext1{
    border: 5px dotted yellow;
}
.active{
    color: red;
}
#div1{
    background: rgba(0, 0, 255, 0.2);
}
#div2{
    background: rgba(255, 0, 0, 0.2);
}
